@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/* MEDIA QUERY -> max-width: 60rem (HAMBURGER MENU) */
/* MEDIA QUERY -> max-width: 83rem (business__description) */
/* MEDIA QUERY -> max-width: 55rem (gallery) */

:root {
  --ff-alata: "Alata", sans-serif;
  --ff-josefin: "Josefin Sans", sans-serif;

  --fw-alata: 400;
  --fw-josefin: 300;

  --primary-clr-white: hsl(0, 0%, 100%);
  --primary-clr-black: hsl(0, 0%, 0%);
  --primary-clr-gray-800: hsl(0, 0%, 55%);
  --primary-clr-gray-900: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 100, 0, 0.1) !important; */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

html {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: var(--primary-clr-white);
}

/* UTILITIES */

.container {
  max-width: 1440px;
  width: 75%;
  margin-inline: auto;
}

.container__flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

/* HERO SECTION */

.hero-section {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    url("images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primary-clr-white);
  font-family: var(--ff-alata);
  font-weight: var(--fw-alata);
}

.primary-navigation {
  padding-block: max(5%, 3rem);
}

.content-div {
  border: 3px solid var(--primary-clr-white);
  /* width: 60%; */
  width: max(60%, 40rem);
  margin-block: max(10%, 4rem);
  padding: 3rem 2.8rem;
}

h1 {
  font-family: var(--ff-josefin);
  font-size: 4.5rem;
  font-weight: var(--fw-josefin);
  line-height: 1;
}

@media (max-width: 47rem) {
  .hero-section {
    background-image: url("images/mobile/image-hero.jpg");
  }

  .content-div {
    width: 100%;
    height: 50%;
    margin-block: 50%;
    padding: 1.4rem;
  }

  h1 {
    font-size: 2.3rem;
  }
}

/* BUSINESS DESCRIPTION */

.business-description {
  position: relative;
  margin-block: 8rem;
}

.business-description__details {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translate(min(-30%, -5rem), -100%);
  z-index: 1;
  padding: 5rem 0 0 5rem;
  width: max(40%, 30rem);
  font-family: var(--ff-josefin);
  background-color: var(--primary-clr-white);
}

.business-description__details h2 {
  font-size: 3rem;
  font-weight: var(--fw-josefin);
  line-height: 1;
  margin-bottom: 2rem;
}

.business-description__details p {
  font-family: var(--ff-alata);
  font-weight: var(--fw-alata);
  color: var(--primary-clr-gray-800);
  font-size: 0.8rem;
  line-height: 2;
}

@media (max-width: 83rem) {
  .business-description__details {
    position: static;
    padding: 0;
    margin-inline: auto;
    transform: translate(0, 0);
    text-align: center;
    margin-block-start: 3rem;
    padding-inline: 1.2rem;
  }

  .business-description__details p {
    font-size: 1.5rem;
  }
}

/* GALLERY */

.gallery {
  /* border: 3px solid salmon; */
  position: relative;
  margin-block-end: max(12rem, 10%);
}

.gallery h2 {
  font-size: 3rem;
  font-family: var(--ff-josefin);
  font-weight: var(--fw-josefin);
  margin-bottom: min(4rem, 10%);
}

.showcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  overflow: hidden;
}

.image-container div {
  font-family: var(--ff-josefin);
  font-weight: var(--fw-josefin);
  font-size: 2rem;
  line-height: 1;
  color: var(--primary-clr-white);
  /* margin-top: 140%; */
  margin-top: max(140%, 10rem);
  margin-left: 15%;
  /* margin-bottom: 15%; */
  margin-bottom: max(15%, 5rem);
}

.showcase a:first-child {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("images/desktop/image-deep-earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase a:nth-child(2) {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("images/desktop/image-night-arcade.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase a:nth-child(3) {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("images/desktop/image-soccer-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase a:nth-child(4) {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("images/desktop/image-grid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase a:nth-child(5) {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("images/desktop/image-from-above.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase a:nth-child(6) {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("images/desktop/image-pocket-borealis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase a:nth-child(7) {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("images/desktop/image-curiosity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase a:nth-child(8) {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("images/desktop/image-fisheye.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 55rem) {
  .showcase {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-container div {
    margin: 0;
    margin-top: 20%;
    margin-left: 15%;
    margin-bottom: 5%;
  }

  .showcase a:first-child {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url("images/mobile/image-deep-earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .showcase a:nth-child(2) {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url("images/mobile/image-night-arcade.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .showcase a:nth-child(3) {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url("images/desktop/image-soccer-team.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .showcase a:nth-child(4) {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url("images/desktop/image-grid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .showcase a:nth-child(5) {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url("images/desktop/image-from-above.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .showcase a:nth-child(6) {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url("images/desktop/image-pocket-borealis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .showcase a:nth-child(7) {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url("images/desktop/image-curiosity.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .showcase a:nth-child(8) {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url("images/desktop/image-fisheye.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.see-all-btn {
  position: absolute;
  top: 0.8rem;
  right: 0;
  font-family: var(--ff-alata);
  font-weight: var(--fw-alata);
  font-size: 0.9rem;
  letter-spacing: 3px;
  color: var(--primary-clr-black);
  background-color: var(--primary-clr-white);
  padding: 0.3rem 2.2rem;
  border-radius: 2px;
}

@media (max-width: 55rem) {
  /* .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  .gallery h2 {
    text-align: center;
  }
  .see-all-btn {
    position: static;
    margin-block-start: 3rem;
  }
}

/* FOOTER */

footer {
  background-color: var(--primary-clr-black);
  color: var(--primary-clr-white);
  font-family: var(--ff-alata);
  font-weight: var(--fw-alata);
  font-size: 0.8rem;
}

.footer-navigation-wrapper {
  padding-block: 2rem;
}

.social-copyright-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.socials {
  gap: 1.2rem;
}

.footer-navigation img {
  height: 20px;
  margin-block-end: 1.5rem;
}

.socials img {
  width: 18px;
  aspect-ratio: 1;
  margin-block-end: 1.5rem;
}

.copyright {
  color: var(--primary-clr-gray-900);
}
